.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#context {
  font-family: monospace;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

#object {
  font-size: 30px;
  margin-bottom: 0.5em;
}

#question {
  font-size: 25px;
  margin-bottom: 1.5em;
}

#console {
  color: #997777;
}

#console {
  text-align: left;
}

#console > div {
  margin-top: 1em;
}

.proposal {
  border-top: 1px solid #555;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.hint {
  font-size: 70%;
  text-style: italic;
  display: inline-block;
}

#answer-front {
  display: none;
}

#answer-back {
  margin-bottom: 0.5em;
  margin-top: 0.9em;
}

#mix-in-container-front,
#options {
  display: none;
}

#answer-proposal-container {
  text-align: center;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#answer-choice-container {
  text-align: center;
  margin-top: 2em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  #answer-proposal-container {
    font-size: 80%;
  }
  #answer-choice-container {
    font-size: 80%;
  }
  #answer-proposal-container a {
    padding: 0.3em !important;
  }
  #answer-choice-container a {
    padding: 0.3em !important;
  }
}

#answer-back a {
  color: lightgrey;
  border: 1px solid #c60;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
}

#answer-back a.multiline {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* I should set these up as classes */

#answer-proposal-container a {
  color: lightgrey;
  border: 1px solid #c60;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
  line-height: 1.5em; /* This fixes issues with bold or exponents */
}

#answer-choice-container a {
  color: lightgrey;
  border: 1px solid #c60;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
  line-height: 1.5em; /* This fixes issues with bold or exponents */
}

.answer-wrapper {
  margin-bottom: 0.2em;
}

.squash-left {
  border-radius: 0em 0.3em 0.3em 0em !important;
  margin-left: 0 !important;
}

.squash-all {
  border-radius: 0em 0em 0em 0em !important;
  margin-left: 0 !important;
}

.squash-right {
  border-radius: 0.3em 0em 0em 0.3em !important;
}

a.clicked {
  /*background: darkblue;
color: darkyellow;*/
}

a.blocked {
  display: block !important;
  width: fit-content;
}

div.blocked {
  display: block;
}

a.inlined {
  display: inline-block;
}

.count {
  display: inline;
  color: lightgrey;
  border: 1px solid #c60;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.3em;
}

a.answer {
  color: white;
  margin-left: 0.2em;
}

.correct {
  background: darkgreen;
  color: lightgrey;
}

.incorrect {
  background: darkred;
  color: lightgrey;
}

#extra {
  margin-top: 1.3em;
  font-size: 83%;
  text-align: left;
  margin-left: 2em;
}

a {
  color: #55aadd;
}

b {
  color: #ff9955;
}

i {
  color: #55cc55;
}

code {
  color: #cc5555 !important;
  font-family: monospace, Monoid;
}

u {
  font-family: monospace, Monoid;
  color: #cc5555;
  text-decoration: none !important;
}

.MathJax {
  color: #5555dd;
}

i u,
u i {
  color: #cccc33 !important;
  text-style: normal !important;
}

i u b,
u b i,
i b u,
u i b,
b i u,
b u i {
  color: #33cccc !important;
  font-style: normal !important;
}

sup,
sub {
  display: inline-block;
  line-height: 0.5em;
}

pre {
  color: #ffe0e0;
  font-family: monospace, Monoid;
  font-size: 95%;
}
